:root {
  --text-color-tertiary: #727cf5;
  --toc-width: 260px;
}

.app-name img {
  width: 40%;
}

.content {
  bottom: unset;
}

.body.close .content {
  left: unset;
}

.markdown-section table {
  display: table;
}

@media screen and (max-width: 768px) {
  #docsify-darklight-theme {
    left: unset;
  }
}

@media screen and (min-width: 1301px) {
  .page_toc {
    border-left: 1px solid var(--borderColor);
  }

  .markdown-section pre {
    max-width: 650px;
  }
}

@media screen and (min-width: 1500px) {
  .markdown-section pre {
    max-width: 850px;
  }
}

@media screen and (min-width: 1830px) {
  .markdown-section pre {
    max-width: 1500px;
  }
}
